**/.DS_Store

# Ignote the build folders
Practice/Windows/VisualStudio/x64/

Practice/Windows/VisualStudio/CP/x64/

Practice/Windows/VisualStudio/.vs/

Practice/Windows/VisualStudio/.vs/Practice/v17/Browse.VC.db